<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <!-- {{>header}} -->
            <header>
                <%- include('../partials/header');%>
            </header>
            <p>kindly contact 9061199170</p>
        </div>
        <!-- {{>footer}} -->
        <footer>
            <%- include('../partials/footer');%>
        </footer>
    </body>
</html>