<!DOCTYPE html>
<html>
    <head>
        <title>History</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <header>
                <%- include('../partials/header') %>
            </header>
            <table id="historytable">
            </table>
            <p id="message"></p>
        </div>
        <footer>
            <%- include('../partials/footer');%>
        </footer>
        <script src="/js/history.js"></script>
    </body>
</html>