<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <body>
        <div class="main-content">
            <!-- {{>header}} -->
            <button id="logout">logout</button>
            <header>
                <%- include('../partials/header');%>
            </header>
            <p>Use this site to get your weather</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
            <canvas id="chart" width="400" height="400"></canvas>
        </div>
        <!-- {{>footer}} -->
        <footer>
            <%- include('../partials/footer');%>
        </footer>

        <script src="/js/control.js"></script>
    </body>
</html>